@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  font-family: 'Inter', sans-serif;
  scrollbar-gutter: stable;
  margin: 0;
  background-color: #f1f1f1;
  color: #2c2c2c;
}


.inner-circle{
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 100%;
  background-color: #f3eded;
  width: 2rem;
  height: 2rem;
}